/*naming like BEM*/
.agile-board__column {
    background: url('/features/agile-board/sweemline-bg.png') repeat 0 0;
    border-left: 9px solid #fff;
    width: 400px;
}

.agile-board__menu {
    float: right;
}

.agile-board__menu-item {
    cursor: pointer;
    margin-left: 5px;
}

.agile-board__task {
    padding: 0;
    margin-top: 7px;
    background-color: white;
    border: 1px solid #b4b4b4;
    cursor: move;
}

.agile-board__task-edit-btn {
    padding: 0;
    float: right;
    margin: 0;
    background: none;
    border: none;
}

.agile-board__task-edit-btn:hover {
    padding: 0;
    float: right;
    margin: 0;
    background: none;
    border: none;
    color: red;
}

.agile-board__task-ref{
    float: left;
    color: #64992C!important;
}

.agile-board__task-title {
    padding: 5px 16px;
    color: #64992C!important;
    background: #ebf4dd;
    font-size: 12px;
}

.agile-board__task-title-separator {
    float: left;
    width: 1px;
    height: 11px;
    margin: 2px 6px 0;
    background: #b4b4b4;
}

.agile-board__task-header {
    padding: 5px 16px;
    font-size: 14px;
}

.agile-board__task-descr {
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #6e6e6e;
    word-wrap: break-word;
}
