.agile-board {

}

.agile-board__header {

}

.agile-board__header-column{

}

/*naming like BEM*/
.agile-board__column {
  background: url('grid.png') repeat 0 0;
  border-left: 9px solid #fff;
  width: 400px;
}

.agile-board__menu {
  float: right;
}

.agile-board__menu-item {
  cursor: pointer;
  margin-left: 5px;
}

.agile-board__task-layout {

}