<!--view for modal windows-->
<div>
    <script type="text/ng-template" id="agile-board__task-model.html">
        <div class="modal-header">
            <h3 class="modal-title">Create\Edit Task</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="headerInput">Header</label>
                    <input type="text" class="form-control" id="headerInput" placeholder="Enter header" ng-model="vm.task.header">
                </div>
                <div class="form-group">
                    <label for="descriptionInput">Description</label>
                    <textarea class="form-control" rows="3" id="descriptionInput" placeholder="Enter Description" ng-model="vm.task.description"></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="vm.ok()">OK</button>
            <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>
</div>
<table class="table agile-board">
    <caption>Agile Board</caption>
    <thead>
    <tr class="agile-board__header">
        <th class="agile-board__header-column" ng-repeat="column in vm.columns">{{column.title}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="{{vm.columns.length}}">
            <div class="agile-board__menu">
                <span class="glyphicon glyphicon-plus agile-board__menu-item" ng-click="vm.openModal()"></span>
                <!--<span class="glyphicon glyphicon-pencil agile-board__menu-item" ></span>-->
                <!--<span class="glyphicon glyphicon-trash agile-board__menu-item"></span>-->
            </div>
        </td>
    </tr>
    <tr>
        <td id="{{column.id}}" data-status="{{column.status}}" class="agile-board__column" ng-repeat="column in vm.columns">
            <!--:: - one time binding. In this scenario adding an item will not be reflected, but changing an existing item will be reflected-->
            <div class="agile-board__task-layout" ng-repeat="task in ::vm.tasks | filter:{ status: column.id.replace('_column', '').replace('_', ' ') }">
              <rm-agile-board-task task="task"/>
            </div>
        </td>
    </tr>
    </tbody>
</table>